<template>
  <v-container>
    <v-textarea
      name="data"
      label="Label Data"
      v-model="inputTsv"
      hint="Copy+paste patient table from Excel or CLLDB."
      ></v-textarea>
    <v-row>
      <v-col style="min-width: 260px">
        <v-textarea
          name="print-template"
          label="Label Template"
          v-model="inputPrintTemplate"
          hint="Variables wrapped in {curly_braces} are substituted from the data table."
          class="mt-4"
        ></v-textarea>
      </v-col>
      <v-col>
        <div class="d-flex flex-column flex-sm-row">
          <div class="mb-6 mr-6">
            <h3 class="d-flex d-sm-none mb-4">Preview</h3>
            <v-card elevation="5" width="260" :height="previewHeight">
              <v-card-text>
                <!--
                https://stackoverflow.com/a/36729756/6023006
                Use <pre> to render '\n'
                -->
                <pre class="preview-font" :style="{ fontSize: previewFontSize + 'px' }"
                >{{preview}}</pre>
              </v-card-text>
            </v-card>
          </div>
          <div class="ma-sm-2">
            <h3 class="d-none d-sm-block mb-0 mb-sm-3">Preview</h3>
            <v-btn
              color="primary"
              @click="inflateBlobAndDownload"
              :disabled="!!dymosErr"
            >
              Download
              <v-icon right>mdi-tag-plus</v-icon>
            </v-btn>
          </div>
        </div>
        <div class="mt-4 mt-sm-0">
          <v-alert
            type="error"
            v-if="dymosErr"
          >{{dymosErr}}</v-alert>
          <v-alert
            type="success"
            outlined
            v-else
          >Looks good!</v-alert>
        </div>

      </v-col>
    </v-row>

    <div class="text-overline mb-2 grey--text text--darken-2">
      Pre-defined Templates
    </div>
    <v-flex>
      <v-chip
        v-for="pdt in predefinedTemplates" :key="pdt.name"
        @click="setPredefinedTemplate(pdt)"
        @mouseover="hoveredPdt = pdt"
        @mouseleave="hoveredPdt = null"
        :color="inputPrintTemplate === pdt.template ? 'primary' : ''"
        class="mr-2"
      >
        <!--
        Setting color based on string equality inside a for-loop
        might be computationally expensive if we have many templates
        -->
        {{pdt.name}}
      </v-chip>
    </v-flex>
    <!-- dummy element to hold a blob containing the file to download as a blob -->
    <a
      href=""
      download="labels.dymo"
      ref="blobEle"
      style="display: none"
      ></a>
  </v-container>
</template>

<script>
import { sampleTable, sampleTemplate } from '@/model/sampleText';
import generateDymoXml from '@/model/dymo';
import LabelerModel from '@/model/model';
import templates from '@/model/templates';

function str2Blob(s) {
  return `data:text/plain;charset=utf-8,${encodeURIComponent(s)}`;
}

export default {
  name: 'MainForm',
  data: () => ({
    inputTsv: sampleTable,
    inputPrintTemplate: sampleTemplate,
    dymosErr: null,
    model: new LabelerModel(sampleTable, sampleTemplate),
    previewHeight: 100,
    predefinedTemplates: templates,
    hoveredPdt: null,
  }),
  watch: {
    inputPrintTemplate(inputPrintTemplate) {
      this.tryUpdate(this.inputTsv, inputPrintTemplate);
    },
    inputTsv(inputDataTable) {
      this.tryUpdate(inputDataTable, this.inputPrintTemplate);
    },
  },
  computed: {
    preview() {
      if (this.hoveredPdt) {
        return this.hoveredPdt.preview;
      }
      return this.dymosErr ? '' : this.model.preview;
    },
    previewFontSize() {
      return this.previewHeight / 1.8 / this.preview.split('\n').length;
    },
  },
  methods: {
    tryUpdate(tsv, printTemplate) {
      try {
        this.model = new LabelerModel(tsv, printTemplate);
        this.dymosErr = null;
      } catch (e) {
        this.dymosErr = e.message;
      }
    },
    inflateBlobAndDownload() {
      /*
       * Vue reactivity/data binding doesn't work here
       * because blobEle's href attribute would react
       * asynchronously but blobEle.click() is called
       * synchronously, so instead we work with raw
       * element-wise functions to force synchronous
       * operation.
       */
      let dymoXml;
      try {
        dymoXml = generateDymoXml(this.model);
      } catch (e) {
        this.dymosErr = e.message;
        return;
      }
      dymoXml = str2Blob(dymoXml);
      const { blobEle } = this.$refs;
      blobEle.setAttribute('href', dymoXml);
      blobEle.click();
    },
    setPredefinedTemplate(pdt) {
      this.inputPrintTemplate = pdt.template;
    },
  },
};
</script>

<style type="text/css">
.preview-font {
  font-family: "Book Antiqua", "Times", "Times New Roman", serif;
  color: #111;
  line-height: 125%;
  text-indent: 0;
}
</style>
