<template>
  <v-app>
    <v-dialog
      v-model="showModal"
      max-width="500"
    >
      <v-card>
        <v-card-title>
          About
        </v-card-title>
        <v-card-subtitle>
          Version {{ appVersion }}
        </v-card-subtitle>
        <v-card-text>
          <p>
            Create labels for CLL banking.
          </p>
          <div class="text-overline">
            Notes
          </div>
          <p>
            This web app is 100% client-side, meaning no data is
            ever sent to the server.
          </p>
          <p>
            The font size is auto-set, it will depend on how
            many lines of text you have and how long those lines are.
          </p>
          <p>
            Want more pre-defined templates?
            Ask Jennings to add them. Or if you're feeling brave,
            make a merge-request to
            <a href="https://gitlab.com/jennydaman/labelabor/-/blob/master/src/model/templates.js">
              src/model/templates.js</a>.
          </p>
          <p>
            Note: the special value "NA" gets replaced with a blank string.
          </p>
          <div class="text-overline">
            Instructions
          </div>
          <ol>
            <li>Get label info from Stacey and load it into Excel.</li>
            <li>Copy-and-paste data into the <em>Label Data</em> text area.</li>
            <li>
              Choose a template (and refine it as needed in the <em>Label Template</em> text area).
            </li>
            <li>Click "Download" and save the <em>labels.dymo</em> to your computer.</li>
            <li>Double-click the file to open it in <em>DYMO Connect</em>.</li>
            <li>Click <em>Print</em>.</li>
          </ol>
          <v-divider class="my-4"></v-divider>
          <div class="text-overline">
            Credits
          </div>
          <p>
            &copy; 2020&ndash;2022 Jennings Zhang
            &lt;<a href="mailto:jennings_zhang@dfci.harvard.edu">
              jennings_zhang@dfci.harvard.edu</a>&gt;
            <br />
            <a href="https://gitlab.com/jennydaman/labelabor">
              https://gitlab.com/jennydaman/labelabor
            </a>
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="showModal = false"
          >
            Thanks
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-toolbar-title>DYMO Multi-Label Writer</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <v-btn icon @click="showModal = true">
        <v-icon>mdi-information-outline</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <main-form />
    </v-main>
  </v-app>
</template>

<script>
import MainForm from './components/MainForm.vue';
import { version } from '../package';

export default {
  name: 'App',
  components: {
    MainForm,
  },
  data: () => ({
    showModal: false,
    appVersion: version || 'unknown',
  }),
  created() {
    if (window.location && window.location.hash === '#about') {
      this.showModal = true;
    }
  },
  watch: {
    showModal(showModal) {
      if (showModal) {
        window.location.hash = '#about';
      } else {
        // eslint-disable-next-line no-restricted-globals
        history.replaceState('', document.title, window.location.pathname);
      }
    },
  },
};
</script>
